.item1 {

    float : left;
    position : absolute;
    top : 30px;
    left : 10px;
  }
  .item2 {

    float : right;
    position : absolute;
    top : 30px;
    right : 10px;

  }
  .container {
    display: flex;
  }
  .depair {
    display: flex;
    color: dimgrey;
    float : middle;
    position : absolute;
    top : 17px;
    left : 1px;
  }
  .arrair {
    display: flex;
    color: dimgrey;
    float : right;
    position : absolute;
    top : 17px;
    right : 1px;
  }
  .dur {
    display: flex;
    color: rgb(0, 0, 0);
    float : middle;
    position : absolute;
    top : 25px;
    left : 110px;
  }
  .deptime {
    display: flex;
    color: rgb(0, 0, 0);
    float : left;
    position: absolute;
    left : 10px;
  }
  .date {
    display: flex;
    color: rgb(0, 0, 0);
    float : left;
    position: absolute;
    left : 10px;
    top:0px;
  }


  .arrtime {
    display: flex;
    color: rgb(0, 0, 0);
    float : right;
    position: relative;
    left : 5px;
  }
  .num {
    display: flex;
    color: rgb(0, 0, 0);
    float : right;
    position: absolute;
    right : 10px;
    bottom : 15px;
  }

  .arricon {
    display: flex;
    color: dimgrey;

    font-size : 30;
    position: relative;

  }
  .expand {
    display: flex;
    position: relative;
    left : 130px
  }

  .attribute {
    display: flex;
    flex-direction: row;
    height : 25px;
    margin-left: 7.5px;
  }
  .attribute h4{
    
    position: relative;
    bottom : 20px;
  }
  .details{
    display: flex;
    flex-direction: column;
    gap: 0px 0px;
    

  }



  .icon {


    color : dimgrey;
    height: 1px;
  }
