.container70 {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 0px;
}

.details {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.alldetails {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.box {
  top: 10px;
}
