.UserPage{
  height: 25cm;
  width: 30cm;
}
.icons {
  transform: translateY(0) scale(4);
  margin-top: 5cm;
  margin-left: 19cm;
  right: 0px;
  margin-bottom: 3cm;
}
.Label {
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0px;
}
.DistanceTravelled {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.HoursFlown {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.Rank {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-image-width: 0px;
}
.biography {
  position: fixed;
  bottom: 0;
  top: 5cm;
  right: 5cm;

}
.TextBox {
  width: 550%;
  height: 125%;
}
.Submit {
  position: fixed;
  top: 2cm;
  width: 300px;
  height: 50px;
}
.PopOver {
  position: fixed;
  top: 2cm;
  left: 3cm;
  right: 0cm;
  width: 300px;
  height: 50px;
}
.realPopOut {
  width: 800px;
  height: 800px;
}
.popUps {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}