.containerSearch {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  position : relative;
  right : 0px;
  width:600px;
  margin-left: 10px;
  height: 490px;
}

.cabin {
  display: flex;
  flex-direction: row;
  column-gap : 1px;
}
.cabins {
  display: flex;
  flex-direction: row;
}
.details {
  display: flex;
  flex-direction: column;
  row-gap : 10px;
}
.alldetails {
  display: flex;
  flex-direction: row;
  column-gap : 10px
}

.box {
  top:10px;
}