.ticket{

    position: relative;
   
  
}
.ticket img{

    border-radius: 20px;
    box-shadow:  0px 5px 15px -5px rgba(0,0,0,0.2);

    }

.top{
    height:80px;
    width:230px;
    z-index: 100;
    position: absolute;
    justify-content: space-evenly;
    top:80px;
    left:50px;
    display:flex;
    flex-wrap:wrap;
}
.smol{
    height:80px;
    width:230px;
    z-index: 100;
    position: absolute;
    justify-content: space-evenly;
    top:70px;
    left:680px;
    display:flex;
    flex-wrap:wrap;
}
.bottom{
    height:80px;
    width:260px;
    z-index: 100;
    position: absolute;
    justify-content: space-evenly;
    top:220px;
    left:35px;
    display:flex;
    flex-wrap:wrap;
}
.right{
    height:200px;
    width:150px;
    z-index: 100;
    position: absolute;
    justify-content: space-evenly;
    top:100px;
    left:400px;
    display:flex;
    flex-wrap:wrap;
}
.right-top{
    
    display:flex;
    flex-direction:column;
    align-items: center;
}
.right-middle{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.right-bottom{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.big-label-bottom{
    font-size: 16pt;
    font-weight: bold;
}
.big-label{
    font-size: 30pt;
    font-weight: bold;
}
.smol-label-left{
    padding-left:10px;
    font-size: 12pt;
}
.smol-label-right{
    padding-right:15px;
    font-size: 12pt;
}
.plane{
padding-top: 15px;
padding-left: 5px;
padding-right: 5px;


}
