.center{
display:flex;
position: relative;
left: 30%;
margin-top: 170px;
margin-bottom:30px;
height:20%;
}

.visa-img{
margin-bottom:0%;
}

.visa-page{
    margin-bottom: 0%;
}

/* body{
    position:absolute;
    overflow-y: visible;
    overflow-x: hidden;
    top:0;
    bottom:0;
    left:0;
    right:0;
} */