.changeTitle{
    font-size: 50 pt;
    color: hotpink;
}
.changePassKollaha{
    margin: 200 px;
    display: flex;
    padding: 25 px;
    width: 500 px;
    height: 500px;
    flex-flow: column;
    row-gap: 20px;
}
.bigPop{
    margin: 20 px;
    display: flex;
    padding: 300 px;
    width: 300 px;
    flex-flow: column;
    row-gap: 20px;

}
.changebutton{
    
    width: 200px;
    height: 50px;
    font-size: 10pt;
}