.header{
    font-family: lato;
    font-size: 20pt;
    color:black;
    margin-left: 100px;
}

.img{
    margin-left:500px;
    height:500px;
    width:500px;
    background-size:cover;
    transform: scale(3.5,6);
    z-index: -1;;
}
.seats{
    display:flex;
    position:relative;
    flex-direction: column;
    margin-top: 400px;
    margin-left: 330px;
    height: 70%;
    width: 70%;
}

.seatsTop {
    display: flex;
    position: relative;
    flex-direction: row;
    top:240px;
    left: 130px;
    height: 150px;
    width: 100%;
  }
  
  .seatsBottom {
    display: flex;
    position: relative;
    flex-direction: row;
    top:-235px;
    left: 130px;
    width: 100%;
  }

  .notAllowed li{
    background-color: gray;
    cursor:not-allowed;
  }

  .first .selected{
    transition: 0.2 ease-out;
    transform:scale(0.9);
   filter: drop-shadow(5px 5px 10px black);
}

.business .selected{
    transition: 0.2 ease-out;
    transform:scale(0.9);
   filter: drop-shadow(5px 5px 10px black);
}

.economy .selected{
    transition: 0.2 ease-out;
    transform:scale(0.9);
   filter: drop-shadow(5px 5px 10px black);
}



.notAv{
    
    filter:blur(2px) grayscale(70%);
}
.notAv:hover{
    cursor: not-allowed;
}

.firstNotAllowed{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    width: 200px;
    height: 100px;
}

.firstNotAllowed li{
    transition: 0.2s ease-in-out;
    border-radius: 10px;
    position: relative;
    cursor: not-allowed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:gray;
    height: 40px;
    width: 40px;
}

.first {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    width: 200px;
    height: 100px;
  }
  
  .businessNotAllowed{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    width: 420px;
    height: 100px;
  }

  .businessNotAllowed li{
    transition: 0.2s ease-in-out;
    border-radius: 10px;
    position: relative;
    cursor: not-allowed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:gray;
    height: 40px;
    width: 40px;

  }

  .business {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      column-gap: 10px;
      row-gap: 10px;
      width: 420px;
      height: 100px;
    }

    .economyNotAllowed{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        column-gap: 25px;
        row-gap: 10px;
        width: 500px;
        height: 100px;
    }

    .economyNotAllowed li{
        transition: 0.2s ease-in-out;
        border-radius: 10px;
        position: relative;
        cursor: not-allowed;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color:gray;
        height: 40px;
        width: 40px;
    }
    
    .economy {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      column-gap: 25px;
      row-gap: 10px;
      width: 500px;
      height: 100px;
    }

  .first li {
    transition: 0.2s ease-in-out;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:purple;
    height: 40px;
    width: 40px;
  }
  
  .first li:hover {
    transform: scale(0.95);
  }
  
  
  .business li {
    transition: 0.2s ease-in-out;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:blue;
    height: 40px;
    width: 40px;
  }
  
  .business li:hover {
    transform: scale(0.95);
  }
  
  .economy li {
    transition: 0.2s ease-in-out;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:green;
    height: 40px;
    width: 40px;
  }
  
  .economy li:hover {
    transform: scale(0.95);
  }
  
  
  

